# Bağımlılıklar (Dependencies)
node_modules/
npm-debug.log

# Çevresel Değişkenler (Environment Variables)
# .env dosyası normalde gizlenir fakat hoca çalıştırabilsin diye burada tutabilirsin.
# Eğer gizlemek istersen başındaki diyez(#) işaretini kaldır:
# .env

# IDE ve Editör Dosyaları
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Docker
# docker-compose.yml dosyaları git'e gitmeli, bu yüzden ignore etmiyoruz.
